page-home {

    h3 {
        text-align: center;
    }

    img {
        width: 230px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

    form{ 
        margin-top: 15px;

    }
    
}
